[submodule "company"]
	path = modules/company
	url = https://github.com/solusiotomasi/company.git
	branch = 5.4
[submodule "modules/product"]
	path = modules/product
	url = https://github.com/tryton/product.git
	branch = 5.4
