[submodule "company"]
	path = modules/company
	url = https://github.com/solusiotomasi/company.git
[submodule "modules/trytond-bench"]
	path = modules/trytond-bench
	url = https://github.com/coopengo/trytond-bench
